.list-route {
    &__title {
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h2 {
            margin: 0;
        }
    }
    &__header {
        border-bottom: 1px solid grey;
        padding: 10px;
    }
    .filter-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__dropdown {
            align-self: center;
            display: flex;
            justify-content: center;
            .ui.button {
                margin-right: 10px !important;
                i {
                    margin: 0 !important;
                }
            }
            & div {
                display: flex;
                align-items: center;
            }
        }
    }
}