.list-route {
    padding-top: 10px;
    &__title {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h2 {
            margin: 0;
        }
    }
    &__header {
        border-bottom: 1px solid grey;
        padding-bottom: 20px;
    }
    .filterControls {
        padding: 0 10px;
    }
}